.game {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    transform: translate(-50%, -50%);
    background: url('img/tableBG.png') no-repeat local center;
    background-size: 100% 100%;
}

.table {
    width: 100%;
    height: 75%;
}

.drawcard {
    position: fixed;
    top: 50%;
    right: -50px;
    transform: translate(-50%, 0%);
}

body {
    margin:0;
    padding:0;
    height:100%;
}