.card {
    margin: 0;
    padding: 10px;
    border: 0;
    width: 100px;
    position: relative;
}

.card-block {
    background-color: aliceblue;
}

.card-text {
    font-family: Avenir, "Helvetica Neue", Menlo;
    margin-bottom: 5px;
}

.card-block button {
    margin-bottom: 5px;
}